:root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: .3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin-top: 0;
}

.hero {
  padding: 2% 4%;
  background-image: linear-gradient(to right, rgb(38, 0, 255) , rgb(187, 0, 255));
  color: var(--primary);
  margin-bottom: 5px;
}

.application-title {
  text-align: center;
  color: white; 
  
}

.card {
  margin: 10px 10px 20px 0;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 2.5%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
  
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.whatisthis {
  border: 2px solid rgb(252, 252, 252); 
  
}

.flexbox {
  display: flex; 
  margin-top: 10%;
}


.today-box {
  margin: 5px; 
  padding: 5px; 
  border: 2px solid black; 
}

.cardheader-forecast {
  color: var(--primary);
  background-color: var(--dark);
}

.cardbody-forecast {
  padding: 2.5%; 
  margin-top: 0 !important;
  margin-right: 3px; 
  display: block;
  white-space: nowrap;  
  top: 0px; 

}

.flexbox {
  display: flex; 
  justify-content: space-around; 
}

